// Quitar bordes redondeados a nivel global
* {
    border-radius: $radius;
}

window,
dialog,
messagedialog,
decoration,
.decoration,
.window-frame,
windowdecoration,
headerbar,
.titlebar,
button,
entry,
notebook,
tab,
menu,
popover,
.card,
.sheet,
slider,
trough,
.sidebar,
list-row,
list,
treeview {
    border-radius: $radius;
}

// Selectores específicos de Adwaita que requieren mayor especificidad
popover.background,
.csd popover.background,
popover.background > contents,
menubar > item popover.menu.background popover.menu.background > contents,
popover.menu modelbutton,
colorchooser .popover.osd,
popover.emoji-picker .emoji,
popover.emoji-picker .emoji :hover,
dropdown popover listview > row.activatable:selected,
dropdown popover listview > row.activatable:selected:hover,
combobox popover listview > row.activatable:selected,
combobox popover listview > row.activatable:selected:hover,
tooltip,
tooltip.csd,
tooltip.csd decoration,
progressbar trough,
progressbar > trough,
scale fill,
scale trough,
scale > trough,
progressbar progress,
progressbar > trough > progress,
scale highlight,
scale > trough > highlight,
progressbar progress.left,
progressbar progress.right,
progressbar progress.top,
progressbar progress.bottom,
progressbar > trough > progress.left,
progressbar > trough > progress.right,
progressbar > trough > progress.top,
progressbar > trough > progress.bottom,
levelbar trough,
levelbar block,
levelbar.horizontal trough > block,
levelbar.horizontal trough > block:dir(rtl),
levelbar.horizontal trough > block:dir(ltr),
levelbar.horizontal trough > block.empty,
levelbar.horizontal trough > block.full,
levelbar.horizontal.discrete trough > block:first-child,
levelbar.horizontal.discrete trough > block:last-child,
levelbar.vertical trough > block {
    border-radius: $radius;
}
