// Paleta de colores Everforest Dark Hard
$bg0: #1E2326;
$bg1: #2E383C;
$bg2: #374145;
$bg3: #414B50;
$bg_green: #3C4841;
$fg: #D3C6AA;
$muted_fg: #B8B095;
$green: #A7C080;
$red: #E67E80;
$grey0: #7A8478;
$grey1: #859289;
$grey2: #9DA9A0;

// Geometría
$radius: 0px;
